<template>
    <div>
        <div class="level">
            <img class="mr-1" :src="avatar"  width="50px" height="50px">

            <h1 v-text="profileuser.name"></h1>
        </div>
        <form v-if="canUpdate" method="POST" action="#" enctype="multipart/form-data">
            <image-upload @loaded="onLoad" name="avatar" class="mr-1"></image-upload>
        </form>


    </div>
</template>

<script>
    import ImageUpload from './ImageUpload.vue';

    export default {
        props: ['profileuser'],

        components: {ImageUpload},

        data: function () {
            return {
                avatar: this.profileuser.avatar_path
            }
        },

        computed: {
            canUpdate: function () {
                return this.authorize((user) => {
                        return user.id === this.profileuser.id;
                    }
                )
            }
        },

        methods: {
            onLoad: function (data) {
                this.avatar = data.src;
                this.persist(data.imageFile);
            },

            persist: function (imageFile) {
                let data = new FormData();
                data.append('avatar', imageFile);

                axios.post('/api/users/' + this.profileuser.name + '/avatar', data)
                    .then(() => flash('Avatar uploaded'));

            }
        }
    }
</script>