<template>
    <input name="avatar" type="file" accept="image/*" @change="onChange">
</template>

<script>
    export default {
        methods: {
            onChange: function (e) {
                if (! e.target.files.length) {
                    return;
                }
                let imageFile = e.target.files[0];
                let reader = new FileReader();
                reader.readAsDataURL(imageFile);
                reader.onload = e => {
                    let src = e.target.result;

                    this.$emit('loaded', {src, imageFile});
                };
            }
        }
    }
</script>