<template>
    <div :id="'reply-'+id" class="panel" :class="isBest ? 'panel-success' : 'panel-default'">
        <div class="panel-heading">
            <div class="level">
                <h5 class="flex">
                    <a :href="'/profiles/'+reply.owner.name"
                       v-text="reply.owner.name">
                    </a> said <span >{{ago}} ...</span>
                </h5>

                <div v-if="signedIn">
                    <favorite :reply="reply"></favorite>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div v-if="editing">
                <form @submit.prevent="update">
                <div class="form-group">
                    <textarea class="form-control" v-model="body" required></textarea>
                </div>

                <button class="btn btn-xs btn-primary">Update</button>
                <button type="button" class="btn btn-xs btn-link" @click="resetBody">Cancel</button>
                </form>
            </div>

            <div v-else v-html="body"></div>
        </div>

        <div class="panel-footer level" v-if="authorize('owns', reply) || authorize('owns', reply.thread)">
            <div v-if="authorize('owns', reply)">
            <button class="btn btn-xs mr-1" @click="openEdit">Edit</button>
            <button class="btn btn-xs btn-danger mr-1" @click="destroy">Delete</button>
            </div>

            <button class="btn btn-xs btn-default ml-a" @click="markBestReply" v-if="authorize('owns', reply.thread) && !isBest">Best Reply</button>
        </div>
    </div>
</template>

<script>
    import Favorite from './Favorite.vue';
    import moment from 'moment';
    export default {
        props: ['reply'],
        components: { Favorite },
        data() {
            return {
                editing: false,
                id: this.reply.id,
                body: this.reply.body,
                oldBody: '',
                isBest: this.reply.isBest,
            };
        },
        computed: {
            ago() {
                return moment(this.reply.created_at).fromNow();
            },
        },
        created: function () {
            window.events.$on('best-reply-selected', id => {
                this.isBest = this.id === id;
            });
        },
        methods: {
            update() {
                axios.patch('/replies/' + this.id, {
                    body: this.body
                })
                    .catch((error) => {
                        flash(error.response.reply, 'danger');
                        this.resetBody();
                })
                    .then(({reply}) => {
                        flash('Your reply has been updated.');
                    });
                this.editing = false;
            },
            destroy() {
                axios.delete('/replies/' + this.id);
                this.$emit('deleted', this.id);
            },
            resetBody() {
                this.editing = false;
                this.body = this.oldBody;
            },
            openEdit() {
                this.oldBody = this.body;
                this.editing = true;
            },

            markBestReply: function () {
                axios.post('/replies/' + this.id + '/best');

                window.events.$emit('best-reply-selected', this.id);
            }
        }
    }
</script>