<template>

    <button :class="classes" @click="subscribe" v-text="buttonText"></button>

</template>

<script>

    export default {

        props: ['active'],

        computed: {

            buttonText: function () {
                return this.active ? 'Unsubscribe' : 'Subscribe';
            },

            classes: function () {
                return ['btn', this.active ? 'btn-default' : 'btn-primary']
            }
        },

        methods: {

            subscribe: function () {

                axios({
                        method: this.active ? 'delete' : 'post',
                        url: location.pathname + '/subscriptions'
                });
                flash(this.active ? 'Unsubscribed from thread!' : 'Subscribed to thread!');

                this.active = ! this.active;
                }
        }
    }
</script>